*~
\#*\#
*.elc
/auto-save-list/
tramp
.\#*
save-*
history
places
bookmarks
recentf
smex-items
ac-comphist.dat

# elpa packages
/elpa/

# quelpa packages
/quelpa/

# AUCTeX auto folder
/auto/

# url folder
/url/
